#header{
    background-image: url('../images/main-bg.jpg');
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vw;

}
.bg-trans{
    background-color: rgba(0, 0, 0, 0.5);
}

#title {
    font-size: 90px;
	top: 50%;
	width: 100%;
	text-align: center;
	color: white;
	position: absolute;
	transform: translateY(-50%);
}
